<body>
<section class="contenedor">
    <div class="header">
        <h1 style="text-align: left; font-size: 25px;">Gana Puntos con Cada Lectura</h1>
    </div>
    <div class="minicontenedor" id="minicontenedor1">
        <div>
            <table class="tabla">
                <tr class="trow">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="trow">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="trow">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="trow">
                    <td><button class="boton1"><i class="bi bi-check2"></i></button></td>
                    <td style="width: 500px;">
                        <div style="justify-content: end; padding-left: 20px; background: #fff; height: 30px;">
                            <p style="padding-top: 6px; font-size: 18px">Leer información nutricional</p>
                        </div>
                    </td>
                    <td><button class="boton2" >Ver</button></td>
                </tr>
                <tr class="trow">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="trow">
                    <td><button class="boton1"><i class="bi bi-check2"></i></button></td>
                    <td style="width: 500px;">
                        <div
                                style="justify-content: end; padding-left: 20px; background: #fff; height: 30px; border-radius: 10px;">
                            <p style="padding-top: 6px; font-size: 18px ;">Leer planes de ejercicios</p>
                        </div>
                    </td>
                    <td><button class="boton2">Ver</button></td>
                </tr>
                <tr class="trow">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="trow">
                    <td><button class="boton1"><i class="bi bi-check2"></i></button></td>
                    <td style="width: 500px;">
                        <div style="justify-content: end; padding-left: 20px; background: #fff; height: 30px;">
                            <p style="padding-top: 6px; font-size: 18px">Leer recetas saludables</p>
                        </div>
                    </td>
                    <td><button class="boton2">Ver</button></td>
                </tr>
                <tr class="trow">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="trow">
                    <td><button class="boton1"><i class="bi bi-check2"></i></button></td>
                    <td style="width: 500px;">
                        <div style="justify-content: end; padding-left: 20px; background: #fff; height: 30px;">
                            <p style="padding-top: 6px; font-size: 18px">Ver videos informativos</p>
                        </div>
                    </td>
                    <td><button class="boton2">Ver</button></td>
                </tr>

            </table>

        </div>
    </div>
</section>
