<body>
<section class="contenedor2" id="informacion1">
    <div>
        <div class="alimentos">
            <div class="header2">
                <h1 style="font-size: 16px;">Videos informativos</h1>
            </div>
            <div class="botones">
                <button class="carrosel"><p><</p></button>
                <a href="#">
                    <button onclick="info1()" class="activo">Ejercicios</button>
                </a>
                <a href="#">
                    <button onclick="info2()" class="boton">Nutricionales</button>
                </a>
                <a href="#">
                    <button onclick="info3()" class="boton">Deporte</button>
                </a>
                <a href="#">
                    <button onclick="info4()" class="boton">Ensalada</button>
                </a>
                <button class="carrosel"><p>></p></button>
            </div>
        </div>
        <div class="grancontenedor">
            <video src=""></video>
        </div>
    </div>
</section>
<section class="contenedor2" id="informacion2">
    <div>
        <div class="alimentos">
            <div class="header2">
                <h1 style="font-size: 16px;">Información nutricional</h1>
            </div>
            <div class="botones">
                <button class="carrosel"><p><</p></button>
                <a href="#">
                    <button onclick="info1()" class="boton">Ejercicios</button>
                </a>
                <a href="#">
                    <button onclick="info2()" class="activo">Nutricionales</button>
                </a>
                <a href="#">
                    <button onclick="info3()" class="boton">Deporte</button>
                </a>
                <a href="#">
                    <button onclick="info4()" class="boton">Ensalada</button>
                </a>
                <button class="carrosel"><p>></p></button>
            </div>
        </div>
        <div class="grancontenedor">
            <video src=""></video>
        </div>
    </div>
</section>
<section class="contenedor2" id="informacion3">
    <div>
        <div class="alimentos">
            <div class="header2">
                <h1 style="font-size: 16px;">Información nutricional</h1>
            </div>
            <div class="botones">
                <button class="carrosel"><p><</p></button>
                <a href="#">
                    <button onclick="info1()" class="boton">Ejercicios</button>
                </a>
                <a href="#">
                    <button onclick="info2()" class="boton">Nutricionales</button>
                </a>
                <a href="#">
                    <button onclick="info3()" class="activo">Deporte</button>
                </a>
                <a href="#">
                    <button onclick="info4()" class="boton">Ensalada</button>
                </a>
                <button class="carrosel"><p>></p></button>
            </div>
        </div>
        <div class="grancontenedor">
            <video src=""></video>
        </div>
    </div>
</section>
<section class="contenedor2" id="informacion4">
    <div>
        <div class="alimentos">
            <div class="header2">
                <h1 style="font-size: 16px;">Información nutricional</h1>
            </div>
            <div class="botones">
                <button class="carrosel"><p><</p></button>
                <a href="#">
                    <button onclick="info1()" class="boton">Ejercicios</button>
                </a>
                <a href="#">
                    <button onclick="info2()" class="boton">Nutricionales</button>
                </a>
                <a href="#">
                    <button onclick="info3()" class="boton">Deporte</button>
                </a>
                <a href="#">
                    <button onclick="info4()" class="activo">Ensalada</button>
                </a>
                <button class="carrosel"><p>></p></button>
            </div>
        </div>
        <div class="grancontenedor">
            <video src=""></video>
        </div>
    </div>
</section>

</body>
