<body>
<section class="contenedor2" id="informacion1">
    <div>
        <div class="ejercicio">
            <div class="header2">
                <h1 style="font-size: 16px;">Recetas Saludables</h1>
            </div>
        </div>
        <div class="grancontenedor">
            <div class="planes">
                <div class="ejercicios">
                    <div>
                        <img src="../img/receta1.jpg" width="180px" alt="">
                    </div>
                    <div style="text-align: center;">
                        <h5 style="font-size: 13px; font-weight:bolder ;">Ensalada de Quinua con Verduras Asadas</h5>
                        <p style="font-size: 11px; margin-block:5px;">Perfecta para aquellos que buscan una opción saludable y deliciosa llena de colores y sabores naturales.</p>
                        <a id="ver-detalles" href="#"><button>Ver detalles</button></a>
                    </div>
                </div>
            </div>
            <div class="planes">
                <div class="ejercicios">
                    <div>
                        <img src="../img/receta2.jpg" width="180px" alt="">
                    </div>
                    <div style="text-align: center;">
                        <h5 style="font-size: 13px; font-weight:bolder ;">Pollo a la Parrilla con Ensalada Griega</h5>
                        <p style="font-size: 11px; margin-block:5px;">La combinación perfecta de proteínas magras y una explosión de sabores mediterráneos frescos.</p>
                        <a id="ver-detalles" href="#"><button>Ver detalles</button></a>
                    </div>
                </div>
            </div>
            <div class="planes">
                <div class="ejercicios">
                    <div>
                        <img src="../img/receta3.jpg" width="180px" alt="">
                    </div>
                    <div style="text-align: center;">
                        <h5 style="font-size: 13px; font-weight:bolder ;">Salmón al Horno con Brócoli</h5>
                        <p style="font-size: 11px; margin-block:5px;">Un plato lleno de Omega-3 y nutrientes esenciales, una opción saludable que aporta sabor y nutrición en cada bocado.</p>
                        <a id="ver-detalles" href="#"><button>Ver detalles</button></a>
                    </div>
                </div>
            </div>
            <div class="planes">
                <div class="ejercicios">
                    <div>
                        <img src="../img/receta4.jpg" width="180px" alt="">
                    </div>
                    <div style="text-align: center;">
                        <h5 style="font-size: 13px; font-weight:bolder ;">Ensalada de Lentejas y Vegetales Asados</h5>
                        <p style="font-size: 11px; margin-block:5px;">Una opción perfecta para aquellos que buscan una comida completa y equilibrada que satisfaga y alimente.</p>
                        <a id="ver-detalles" href="#"><button>Ver detalles</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
