* {
  padding: 0;
  margin: 0;
  justify-content: center;
  justify-items: center;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  grid-template-columns: repeat(2);
  min-width: 1200;
}
section{
  margin-top: 30px;
}
.contenedor {
  width: 800px;

}

.contenedor2 {
  width: 800px;
}

.minicontenedor {
  width: 620px;
  height: 500px;
  background-color: hsla(171, 47%, 52%, 0.27);
  border-radius: 60px;
}

.grancontenedor {
  width: 700px;
  height: 600px;
  border-radius: 60px;
  justify-content: center;
  justify-items: center;
  background-color: #EDECEE
}

.tabla {
  width: 550px;
  margin: 60px auto;
  border-collapse: collapse;

}

tbody {
  position: relative;
  margin-top: 200px;
  padding-top: 20px;
}

tr {
  border: 20px solid hsla(171, 47%, 52%, 0.00);
}

td button {
  border: 0;
  border-radius: 10px;
  width: 75px;
  height: 30px;
  font-size: 20px;
  justify-content: center;
}

.boton1 {
  background-color: #79DF55;
  cursor: pointer;
}

.boton2 {
  background: #4ABDAC;
  cursor: pointer;
}

.boton1:hover {
  transform: scale(1.1);

}

.boton2:hover {
  transform: scale(1.1);

}


.ejercicio {
  justify-content: start;
  display: flex;
  margin: 6px;
  margin-inline: 15px;
  justify-items: center;
  height: 35px;
}

.header2 {
  margin-right: 60px;
  justify-content: center;
  justify-items: center;
}

.ejercicio a {
  margin-inline: 5px;
}

.activo {
  font-size: 18px;
  font-family: Arial, sans-serif;
  border: 0;
  border-radius: 6px;
  color: #FFFFFF;
  width: 100px;
  height: 32px;
  background-color: rgba(74, 189, 172, 1);
  cursor: pointer;
}


.boton {
  font-size: 18px;
  font-family: Arial, sans-serif;
  border: 0;
  border-radius: 6px;
  color: #FFFFFF;
  width: 90px;
  height: 32px;
  background-color: rgba(74, 189, 172, 0.27);
  cursor: pointer;
}

.boton:hover {
  background-color: rgba(74, 189, 172, 1);
}

.botones .carrosel{
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}
.no{
  display: none;
}
.grancontenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.planes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.ejercicios{
  background-color: hsla(171, 47%, 52%, 0.27);
  width: 320px;
  height: 180px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 8fr 5fr;
}
.ejercicios div{
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}
.ejercicios div img{
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}
#ver-detalles button{
  margin: 5px;
  border: 0;
  border-radius: 8px;
  background-color: #4ABDAC;
  color: white;
  width: 80px;
  height: 27px;
  font-size: 13px;
  cursor: pointer;
}


