<body>
<section class="contenedor2" id="informacion1">
    <div>
        <div class="ejercicio">
            <div class="header2">
                <h1 style="font-size: 16px;">Planes de ejercico</h1>
            </div>
        </div>
        <div class="grancontenedor">
            <div class="planes">
                <div class="ejercicios">
                    <div>
                        <img src="../img/ejercicio1.jpg" width="180px" alt="">
                    </div>
                    <div style="text-align: center;">
                        <h5 style="font-size: 13px; font-weight:bolder ;">Programa de entrenamiento de alta intensidad</h5>
                        <p style="font-size: 11px; margin-block:5px;">Es efectivo para quemar calorías, mejorar la resistencia y aumentar la fuerza en un tiempo más corto.</p>
                        <a id="ver-detalles" href="#"><button>Ver detalles</button></a>
                    </div>
                </div>
            </div>
            <div class="planes">
                <div class="ejercicios">
                    <div>
                        <img src="../img/ejercicio2.jpg" width="180px" alt="">
                    </div>
                    <div style="text-align: center;">
                        <h5 style="font-size: 13px; font-weight:bolder ;">Plan de ejercicios de flexibilidad y equilibrio</h5>
                        <p style="font-size: 11px; margin-block:5px;">Ayuda a mejorar la flexibilidad de los músculos y las articulaciones.</p>
                        <a id="ver-detalles" href="#"><button>Ver detalles</button></a>
                    </div>
                </div>
            </div>
            <div class="planes">
                <div class="ejercicios">
                    <div>
                        <img src="../img/ejercicio3.jpg" width="180px" alt="">
                    </div>
                    <div style="text-align: center;">
                        <h5 style="font-size: 13px; font-weight:bolder ;">Plan de entrenamiento de fuerza</h5>
                        <p style="font-size: 11px; margin-block:5px;">Ayuda a aumentar la masa muscular, mejorar el metabolismo y promover una mejor postura.</p>
                        <a id="ver-detalles" href="#"><button>Ver detalles</button></a>
                    </div>
                </div>
            </div>
            <div class="planes">
                <div class="ejercicios">
                    <div>
                        <img src="../img/ejercicio4.jpg" width="180px" alt="">
                    </div>
                    <div style="text-align: center;">
                        <h5 style="font-size: 13px; font-weight:bolder ;">Rutina de acondicionamiento cardiovascular</h5>
                        <p style="font-size: 11px; margin-block:5px;">Ayuda a fortalecer el corazón y los pulmones, y a quemar calorías.</p>
                        <a id="ver-detalles" href="#"><button>Ver detalles</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
